<div class="modal fade" id="modal-order" tabindex="-1" role="dialog" aria-labelledby="Modal" aria-hidden="true">
	<div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="Modal">受注伝票情報</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<table class="table table-striped">
					<tr>
						<th>ロケーションコード</th>
						<th id="goods_location"></th>
					</tr>
					<tr>
						<th>伝票番号</th>
						<th id="receive_order_id"></th>
					</tr>
					<tr>
						<th>仕入先コード</th>
						<th id="goods_supplier_id"></th>
					</tr>
					<tr>
						<th>商品名</th>
						<th id="goods_foreign_name"></th>
					</tr>
					<tr>
						<th>商品コード</th>
						<th id="receive_order_row_goods_id"></th>
					</tr>
					<tr>
						<th>受注数</th>
						<th id="receive_order_row_quantity"></th>
					</tr>
					<tr>
						<th>送り先電話番号</th>
						<th id="receive_order_consignee_tel"></th>
					</tr>
					<tr>
						<th>購入者電話番号</th>
						<th id="receive_order_purchaser_tel"></th>
					</tr>
					<tr>
						<th>送り先名</th>
						<th id="receive_order_consignee_name"></th>
					</tr>
					<tr>
						<th>購入者名</th>
						<th id="receive_order_purchaser_name"></th>
					</tr>
					<tr>
						<th>ピッキング指示</th>
						<th id="receive_order_picking_instruct"></th>
					</tr>
					<tr>
						<th>送り先住所1</th>
						<th id="receive_order_consignee_address1"></th>
					</tr>
					<tr>
						<th>送り先住所2</th>
						<th id="receive_order_consignee_address2"></th>
					</tr>
					<tr>
						<th>送り先郵便番号</th>
						<th id="receive_order_consignee_zip_code"></th>
					</tr>
					<tr>
						<th>最終更新日</th>
						<th id="receive_order_last_modified_date"></th>
					</tr>
					<tr>
						<th>購入者住所1</th>
						<th id="receive_order_purchaser_address1"></th>
					</tr>
					<tr>
						<th>購入者住所2</th>
						<th id="receive_order_purchaser_address2"></th>
					</tr>
				</table>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
			</div>
		</div>
	</div>
</div>
