<div class="modal fade" id="modal-pickup-request" tabindex="-1" role="dialog" aria-labelledby="Modal" aria-hidden="true">
	<!--以下modal-dialogのCSSの部分で modal-lgやmodal-smを追加するとモーダルのサイズを変更することができる-->
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<%= form_tag('/pickup/pickup_request', method: :post) do %>
				<div class="modal-header">
					<h5 class="modal-title" id="Modal">事業者を選択または受注伝票番号を入力してください</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label>事業者</label>
						<%= select_tag(
							:supplier,
							options_for_select(@select_suppliers),
							class: 'form-control',
							include_blank: true) %>
					</div>
					<div class="form-group">
						<label>受注伝票</label>
						<%= text_field_tag :receive_order_id, '', class: 'form-control' %>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
					<%= button_to '保存', {}, class: 'btn btn-primary' %>
				</div>
			<% end %>
		</div>
	</div>
</div>

