<div class="modal fade" id="modal-supplier" tabindex="-1" role="dialog" aria-labelledby="Modal" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="Modal">事業者情報</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<table class="table table-striped">
					<tr>
						<th>自治体ID</th>
						<th id="supplier_post_fax"></th>
					</tr>
					<tr>
						<th>仕入先コード</th>
						<th id="supplier_id"></th>
					</tr>
					<tr>
						<th>仕入先名</th>
						<th id="supplier_name"></th>
					</tr>
					<tr>
						<th>荷送人コード</th>
						<th id="supplier_post_address1"></th>
					</tr>
					<tr>
						<th>荷送人枝番</th>
						<th id="supplier_post_address2"></th>
					</tr>
					<tr>
						<th>荷送人住所</th>
						<th id="supplier_address2"></th>
					</tr>
					<tr>
						<th>荷送人住所3(○○ふるさと納税)</th>
						<th id="supplier_post"></th>
					</tr>
					<tr>
						<th>荷送人電話番号</th>
						<th id="supplier_post_zip_code"></th>
					</tr>
					<tr>
						<th>最終更新日</th>
						<th id="supplier_last_modified_date"></th>
					</tr>
					<tr>
						<th>メールアドレス</th>
						<th id="supplier_mail_address"></th>
					</tr>
				</table>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
			</div>
		</div>
	</div>
</div>

