<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
	<h2>事業者メール送信履歴</h2>
</div>

<table class="table">
	<thead>
		<tr>
			<th>キューID</th>
			<th>ファイル</th>
			<th>メール送信状況</th>
			<th>作成日</th>
			<th>更新日</th>
			<th>メール用データ</th>
		</tr>
	</thead>
	<tbody>
	<% @ques.each do |que| %>
		<tr>
			<th><%= que[:mail_send_to_supplier_que][:id] %></th>
			<th><%= que[:mail_send_to_supplier_que][:file_path] %></th>
			<th><%= que_status(que[:mail_send_to_supplier_que]) %></th>
			<th><%= l(Time.parse(que[:mail_send_to_supplier_que][:created_at])) %></th>
			<th><%= l(Time.parse(que[:mail_send_to_supplier_que][:updated_at])) %></th>
			<th><%= mail_download_link(que[:mail_send_to_supplier_link]) %></th>
		</tr>
	<% end %>
	<%= paginate @ques %>
	</tbody>
</table>
