<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
	<h2>受注伝票一覧</h2>
	<%= link_to '集荷依頼する', '#', class: 'btn btn-primary', data: {
		toggle: 'modal',
		target: '#modal-pickup-request'
	} %>
</div>

<table class="table">
	<thead>
		<tr>
			<th>受注伝票番号</th>
			<th>自治体ID</th>
			<th>事業者ID</th>
			<th>受注状態</th>
			<th>集荷依頼状況</th>
			<th>メール送信状況</th>
			<th>集荷確認状況</th>
			<th>佐川用データ</th>
			<th>メール用データ</th>
		</tr>
	</thead>
	<tbody>
	<% @orders.each do |order| %>
		<tr>
			<th>
				<%= link_to order[:order][:receive_order_id], '#',
					data: {
						toggle: 'modal',
						target: '#modal-order',
						order: order
					}
				%>
			</th>
			<th><%= order[:supplier][:local_government_id] %></th>
			<th>
				<%= link_to order[:supplier][:info][:supplier_name], '#',
					data: {
						toggle: 'modal',
						target: '#modal-supplier',
						supplier: order[:supplier]
					}
				%>
			</th>
			<th><%= order_status(order[:order]) %></th>
			<th><%= que_status(order[:pickup_request_que]) %></th>
			<th><%= que_status(order[:mail_send_to_supplier_que]) %></th>
			<th><%= pickup_confirmation_log_status(order[:pickup_confirmation_log]) %></th>
			<th><%= sagawa_download_link(order[:pickup_request_link]) %></th>
			<th><%= mail_download_link(order[:mail_send_to_supplier_link]) %></th>
		</tr>
	<% end %>
	<%= paginate @orders %>
	</tbody>
</table>
<%= render 'pickup_request' %>
<%= render 'order' %>
<%= render 'supplier' %>
