<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
	<h2>集荷依頼履歴</h2>
</div>

<table class="table">
	<thead>
		<tr>
			<th>キューID</th>
			<th>ファイル</th>
			<th>集荷依頼状況</th>
			<th>作成日</th>
			<th>更新日</th>
			<th>佐川用データ</th>
		</tr>
	</thead>
	<tbody>
	<% @ques.each do |que| %>
		<tr>
			<th><%= que[:pickup_request_que][:id] %></th>
			<th><%= que[:pickup_request_que][:file_path] %></th>
			<th><%= que_status(que[:pickup_request_que]) %></th>
			<th><%= l(Time.parse(que[:pickup_request_que][:created_at]), format: :default) %></th>
			<th><%= l(Time.parse(que[:pickup_request_que][:updated_at]), format: :default) %></th>
			<th><%= mail_download_link(que[:pickup_request_link]) %></th>
		</tr>
	<% end %>
	<%= paginate @ques %>
	</tbody>
</table>
