<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
	<h2>集荷確認履歴</h2>
	<!--
	 <div class="btn-toolbar mb-2 mb-md-0">
	 <div class="btn-group mr-2">
	 <button class="btn btn-sm btn-outline-secondary">Share</button>
	 <button class="btn btn-sm btn-outline-secondary">Export</button>
	 </div>
	 <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
	 <span data-feather="calendar"></span>
	 This week
	 </button>
	 </div>
	 -->
</div>

<table class="table">
	<thead>
		<tr>
			<th>キューID</th>
			<th>ファイル</th>
			<th>集荷確認状況</th>
			<th>作成日</th>
		</tr>
	</thead>
	<tbody>
	<% @pickup_confirmation_logs.each do |pickup_confirmation_log| %>
		<tr>
			<th><%= pickup_confirmation_log[:id] %></th>
			<th><%= pickup_confirmation_log[:file_path] %></th>
			<th><%= que_status(pickup_confirmation_log) %></th>
			<th><%= pickup_confirmation_log[:created_at] %></th>
		</tr>
	<% end %>
	<%= paginate @ques %>
	</tbody>
</table>
