<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
	<h2>事業者一覧</h2>
	<%= link_to '集荷依頼する', '#modal-pickup-request', class: 'btn btn-primary', data: {
		toggle: 'modal',
		target: '#modal-pickup-request'
	} %>
</div>

<table class="table">
	<thead>
		<tr>
			<th>自治体ID</th>
			<th>事業者ID</th>
			<th>仕入先名</th>
		</tr>
	</thead>
	<tbody>
	<% @suppliers.each do |supplier| %>
		<tr>
			<th><%= supplier[:local_government_id] %></th>
			<th><%= supplier[:mf_supplier_id] %></th>
			<th>
				<%= link_to supplier[:info][:supplier_name], '#',
					data: {
						toggle: 'modal',
						target: '#modal-supplier',
						supplier: supplier
					}
				%>
			</th>
		</tr>
	<% end %>
	<%= paginate @suppliers %>
	</tbody>
</table>

<%= render 'pickup_request' %>
<%= render 'supplier' %>
