<!DOCTYPE html>
<html lang="ja">
	<head>
		<%= favicon_link_tag('favicon.ico') %>
		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">
		<title>ふるさと納税自動化アプリ</title>
	</head>
	<body>
		<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
			<a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">ふるさと納税自動化アプリ</a>
			<ul class="navbar-nav px-3">
				<li class="nav-item text-nowrap">
					<a class="nav-link" href="#"><%= session[:user][:pic_name]%></a>
				</li>
			</ul>
		</nav>
		<div class="container-fluid">
			<div class="row">
				<nav class="col-md-2 d-none d-md-block bg-light sidebar">
					<div class="sidebar-sticky">
						<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
							<span>集荷関連</span>
						</h6>
						<ul class="nav flex-column">
							<li class="nav-item">
								<a class="nav-link" href="/pickup/orders">
									<span data-feather="package"></span>
									受注伝票一覧
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/pickup/suppliers">
									<span data-feather="package"></span>
									事業者一覧
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/pickup/pickup_request_ques">
									<span data-feather="package"></span>
									集荷依頼履歴
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/pickup/mail_send_to_supplier_ques">
									<span data-feather="package"></span>
									事業者メール送信履歴
								</a>
							</li>
							<!--
							<li class="nav-item">
								<a class="nav-link" href="pickup/pickup_confirmation_logs">
									<span data-feather="package"></span>
									集荷確認履歴
								</a>
							</li>
							-->
						</ul>
					</div>
				</nav>
				<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
					<% flash.each do |name, msg| %>
						<div class="alert alert-<%= name %>">
							<%= msg.html_safe %>
							<button type="button" class="close" data-dismiss="alert">&times;</button>
						</div>
					<% end %>
					<%= yield %>
				</main>
			</div>
		</div>

		<script>
			feather.replace()
		</script>
	</body>
</html>
